@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --ORANGE: #FF6633;
  --GREY: rgba(153, 153, 153, 1);
  --gradient-mobile: to bottom, #9C9C9C, #D45F38, #7C361E, #000000;
  --gradient-desktop: to bottom, #9C9C9C, #D45F38, #7C361E, #484848;
  --nav-height: 115px;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: var(--ORANGE);
  --color-grey: var(--GREY);

  --font-baunk: var(--font-baunk);
  --font-noto-sans-tc: var(--font-noto-sans-tc);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Baunk", Helvetica, sans-serif; */
}

html {
  scroll-behavior: smooth;
}