@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --ORANGE: #FF6633;
  --GREY: rgba(153, 153, 153, 1);
  /* --gradient-mobile: to bottom, #9C9C9C, #D45F38, #7C361E, #000000;
  --gradient-desktop: to bottom, #9C9C9C, #D45F38, #7C361E, #484848; */

  --gradient-intro: to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%;

  --gradient-desktop: to top, #484848 0.05%, #D34F22 83.62%, #9C9C9C 99.95%;


  --gradient-mobile: to top, #000000 0.05%, #7C361E 66.58%, #D45F38 90.8%, #9C9C9C 99.95%;

  /* --gradient-desktop: linear-gradient(0.05deg,
      #484848 0.05%,
      #D34F22 83.62%,
      #9C9C9C 99.95%); */

  --nav-height: 100px;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: var(--ORANGE);
  --color-grey: var(--GREY);

  --font-baunk: var(--font-baunk);
  --font-noto-sans-tc: var(--font-noto-sans-tc);

}



body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Baunk", Helvetica, sans-serif; */
}

html {
  scroll-behavior: smooth;
}






@theme {
  --animate-fadeIn: fadeIn 0.5s ease-in-out forwards;
  --animate-fadeInLeft: fadeInLeft 0.5s ease-in-out forwards;
  --animate-fadeInRight: fadeInRight 0.5s ease-in-out forwards;


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10%);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-30%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(30%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}



@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;

}

@layer utilities {
  .fade-in-start {
    opacity: 0;
    transform: translateY(10%);
    transition: all 1s ease-in-out;
  }

  .fade-in-end {
    opacity: 1;
    transform: translateY(0);
  }

  .slide-in-left-start {
    opacity: 0;
    transform: translateX(-10%);
    transition: all 0.8s ease-in-out;
  }

  .slide-in-left-end {
    opacity: 1;
    transform: translateX(0);
  }

  .slide-in-right-start {
    opacity: 0;
    transform: translateX(10%);
    /* tailwind 的 translate-x-10 ≈ 2.5rem */
    transition: all 0.8s ease-in-out;
  }

  .slide-in-right-end {
    opacity: 1;
    transform: translateX(0);
  }
}


/* .scrollbar-hidden::-webkit-scrollbar {
  display: none;
} */

@media screen and (max-width:768px) {
  :root {
    --nav-height: 80px;

  }
}



.custom-scrollbar::-webkit-scrollbar {
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}