@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --ORANGE: #FF6633;
  --GREY: rgba(153, 153, 153, 1);
  --gradient-mobile: to bottom, #9C9C9C, #D45F38, #7C361E, #000000;
  --gradient-desktop: to bottom, #9C9C9C, #D45F38, #7C361E, #484848;
  --nav-height: 100px;
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: var(--ORANGE);
  --color-grey: var(--GREY);

  --font-baunk: var(--font-baunk);
  --font-noto-sans-tc: var(--font-noto-sans-tc);

}



body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Baunk", Helvetica, sans-serif; */
}

html {
  scroll-behavior: smooth;
}






@theme {
  --animate-fadeIn: fadeIn 0.5s ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(12px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}



@utility scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;

}

@layer utilities {
  .fade-in-start {
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.6s ease-in-out;
  }

  .fade-in-end {
    opacity: 1;
    transform: translateY(0);
  }

  .slide-in-left-start {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.7s ease-out;
  }

  .slide-in-left-end {
    opacity: 1;
    transform: translateX(0);
  }

  .slide-in-right-start {
    opacity: 0;
    transform: translateX(2.5rem);
    /* tailwind 的 translate-x-10 ≈ 2.5rem */
    transition: all 0.7s ease-out;
  }

  .slide-in-right-end {
    opacity: 1;
    transform: translateX(0);
  }
}


/* .scrollbar-hidden::-webkit-scrollbar {
  display: none;
} */

@media screen and (max-width:768px) {
  :root {
    --nav-height: 80px;

  }
}